body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*font-family: 'Lato', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

.nav-links li{
    font-family: 'Acme', sans-serif;
    font-size: 1.1em;
}

.tag-line {
    font-family: 'Acme', sans-serif;
}

.logo {
    font-family: 'Acme', sans-serif;
}

.btn {
    font-family: 'Acme', sans-serif;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 380px;
}

.correct-outcome i {
    color: #daa520;
}

.incorrect-outcome {
    color: #B71C1C;
}

.navbar-default {
    background-color: #375a7f;
    border-color: transparent;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #28415b;
}

.navbar-default .navbar-toggle {
    border-color: #28415b;
}

.btn-primary {
    color: #ffffff;
    background-color: #375a7f;
    border-color: #375a7f;
}
.btn-primary:hover {
    color: #ffffff;
    background-color: #28415b;
    border-color: #253c54;
}

a {
    color: #FF5722;
    text-decoration: none;
}

a:hover {
    color: #FF5722;
}

.navbar-brand {
    font-size: 1.5em;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #FF8A65;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #FF8A65;
}