<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error</h1>
        <h2>Seems something went wrong and you ended up in the void.</h2>
        <h4><a href="@Url.Action("Index", "Home")">Back to safety</a></h4>
    </hgroup>
</body>
</html>
